In [69]:
# pour faire un lien entre le serveur SQL et python voici les étapes suivantes--
# installer les packages concernant ce projet
#importer des bibliothèques
#donner des détails de BD

In [70]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (5.2.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
import pyodbc
import pandas as pd
print("Coucou toute le mondes--")
print ("Les bibliothèques sont chargées avec succès.")

Coucou toute le mondes--
Les bibliothèques ont été chargées avec succès.

In [72]:
print(f"Les drivers: {pyodbc.drivers()}")

Les drivers: ['SQL Server', 'ODBC Driver 17 for SQL Server', 'SQL Server Native Client RDA 11.0']

In [73]:
import pyodbc
import pandas as pd

conn_str = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=(localdb)\Mashalocaldb;'
    r'DATABASE=MashaDB;'
    r'Trusted_Connection=yes;'
)
conn = pyodbc.connect(conn_str)
query = "SELECT * FROM mashagold.actuals_qty"
df_actuals_qty = pd.read_sql(query, conn)
print(df_actuals_qty)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13696\536539630.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_actuals_qty = pd.read_sql(query, conn)

            dates loc_id  prd_id  actuals_qty           prd_price currency_id  \
0      2023-01-07  10001  BNFJY5        864.0   2.500000000000000           1
1      2023-01-07  10001  CVINS1        648.0   8.500000000000000           1
2      2023-01-07  10001  CVINS2       1512.0   6.500000000000000           1
3      2023-01-07  10001  ERKYE7        270.0   2.900000000000000           1
4      2023-01-07  10001  LKUQW1        180.0  10.000000000000000           1
...           ...    ...     ...          ...                 ...         ...
32312  2025-08-30  10011  WSDCV3        142.0   6.500000000000000           1
32313  2025-08-30  10011  ZDSGJ1        126.0  18.000000000000000           1
32314  2025-08-30  10011  ZDSGJ2        112.0  12.500000000000000           1
32315  2025-08-30  10011  ZDSGJ3        180.0   5.500000000000000           1
32316  2025-08-30  10011  ZDSGJ4        154.0   6.000000000000000           1

       actuals_sales sales_forecast currency_desc  \
0             2592.0           None          Euro
1             5832.0           None          Euro
2            10584.0           None          Euro
3              810.0           None          Euro
4             1800.0           None          Euro
...              ...            ...           ...
32312          994.0           None          Euro
32313         2268.0           None          Euro
32314         1456.0           None          Euro
32315         1080.0           None          Euro
32316          924.0           None          Euro

                                     location_details  ...     prd_size  \
0      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...        50 cl
1      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...      1 glass
2      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...      1 glass
3      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...        50 cl
4      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...       1 bowl
...                                               ...  ...          ...
32312       Chem. de la Diligence, 13760 Saint-Cannat  ...       1 bowl
32313       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -9 pc
32314       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -9 pc
32315       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -3 pc
32316       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -3 pc

         prd_sku  prd_family prd_seasons holidays algorithm_forecast  \
0      SKU 90316   Beverages    All Year        1               None
1      SKU 90334  Milkshakes    All Year        1               None
2      SKU 90335  Milkshakes    All Year        1               None
3      SKU 90318   Beverages    All Year        1               None
4      SKU 90322    Desserts    All Year        1               None
...          ...         ...         ...      ...                ...
32312  SKU 90321    Desserts      Summer        0               None
32313  SKU 90324    Desserts    All Year        0               None
32314  SKU 90325    Desserts    All Year        0               None
32315  SKU 90326    Desserts    All Year        0               None
32316  SKU 90327    Desserts    All Year        0               None

       algo_error algo_error_absolute algo_error_squared  \
0            None                None               None
1            None                None               None
2            None                None               None
3            None                None               None
4            None                None               None
...           ...                 ...                ...
32312        None                None               None
32313        None                None               None
32314        None                None               None
32315        None                None               None
32316        None                None               None

              dwh_create_date
0     2025-09-24 18:13:31.970
1     2025-09-24 18:13:31.970
2     2025-09-24 18:13:31.970
3     2025-09-24 18:13:31.970
4     2025-09-24 18:13:31.970
...                       ...
32312 2025-09-24 18:13:31.970
32313 2025-09-24 18:13:31.970
32314 2025-09-24 18:13:31.970
32315 2025-09-24 18:13:31.970
32316 2025-09-24 18:13:31.970

[32317 rows x 22 columns]

In [74]:
# pour terminer le login il faudra se connecter à votre serveur SQL

In [75]:
df_actuals_qty.head()

,dates,loc_id,prd_id,actuals_qty,prd_price,currency_id,actuals_sales,sales_forecast,currency_desc,location_details,...,prd_size,prd_sku,prd_family,prd_seasons,holidays,algorithm_forecast,algo_error,algo_error_absolute,algo_error_squared,dwh_create_date
0,2023-01-07,10001,BNFJY5,864.0,2.500000000000000,1,2592.0,None,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,50 cl,SKU 90316,Beverages,All Year,1,None,None,None,None,2025-09-24 18:13:31.970
1,2023-01-07,10001,CVINS1,648.0,8.500000000000000,1,5832.0,None,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,1 glass,SKU 90334,Milkshakes,All Year,1,None,None,None,None,2025-09-24 18:13:31.970
2,2023-01-07,10001,CVINS2,1512.0,6.500000000000000,1,10584.0,None,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,1 glass,SKU 90335,Milkshakes,All Year,1,None,None,None,None,2025-09-24 18:13:31.970
3,2023-01-07,10001,ERKYE7,270.0,2.900000000000000,1,810.0,None,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,50 cl,SKU 90318,Beverages,All Year,1,None,None,None,None,2025-09-24 18:13:31.970
4,2023-01-07,10001,LKUQW1,180.0,10.000000000000000,1,1800.0,None,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,1 bowl,SKU 90322,Desserts,All Year,1,None,None,None,None,2025-09-24 18:13:31.970

In [76]:
df_actuals_qty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32317 entries, 0 to 32316
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dates                32317 non-null  object
 1   loc_id               32317 non-null  object
 2   prd_id               32317 non-null  object
 3   actuals_qty          32317 non-null  float64
 4   prd_price            32317 non-null  object
 5   currency_id          32317 non-null  object
 6   actuals_sales        32317 non-null  float64
 7   sales_forecast       0 non-null      object
 8   currency_desc        32317 non-null  object
 9   location_details     32317 non-null  object
 10  loc_region           32317 non-null  object
 11  prd_desc             32317 non-null  object
 12  prd_size             32317 non-null  object
 13  prd_sku              32317 non-null  object
 14  prd_family           32317 non-null  object
 15  prd_seasons          32317 non-null  object
 16  holidays             32317 non-null  int64
 17  algorithm_forecast   0 non-null      object
 18  algo_error           0 non-null      object
 19  algo_error_absolute  0 non-null      object
 20  algo_error_squared   0 non-null      object
 21  dwh_create_date      32317 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(18)
memory usage: 5.4+ MB

In [77]:
#changement du type de les colonnes sales_forecast,algo_error,algo_error_absolute,algo_error_squared, prd_price, currency_id

In [78]:
df_actuals_qty['sales_forecast'] = df_actuals_qty['sales_forecast'].astype("float")
print(df_actuals_qty['sales_forecast'].dtype)

float64

In [79]:
df_actuals_qty['algo_error'] = df_actuals_qty['algo_error'].astype("float")
print(df_actuals_qty['algo_error'].dtype)

float64

In [80]:
df_actuals_qty['algo_error_absolute'] = df_actuals_qty['algo_error_absolute'].astype("float")
print(df_actuals_qty['algo_error_absolute'].dtype)

float64

In [81]:
df_actuals_qty['algo_error_squared']=df_actuals_qty['algo_error_squared'].astype("float")
print(df_actuals_qty['algo_error_squared'].dtype)

float64

In [82]:
df_actuals_qty['prd_price']= df_actuals_qty['prd_price'].astype("float")
print(df_actuals_qty['prd_price'].dtype)

float64

In [83]:
df_actuals_qty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32317 entries, 0 to 32316
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dates                32317 non-null  object
 1   loc_id               32317 non-null  object
 2   prd_id               32317 non-null  object
 3   actuals_qty          32317 non-null  float64
 4   prd_price            32317 non-null  float64
 5   currency_id          32317 non-null  object
 6   actuals_sales        32317 non-null  float64
 7   sales_forecast       0 non-null      float64
 8   currency_desc        32317 non-null  object
 9   location_details     32317 non-null  object
 10  loc_region           32317 non-null  object
 11  prd_desc             32317 non-null  object
 12  prd_size             32317 non-null  object
 13  prd_sku              32317 non-null  object
 14  prd_family           32317 non-null  object
 15  prd_seasons          32317 non-null  object
 16  holidays             32317 non-null  int64
 17  algorithm_forecast   0 non-null      object
 18  algo_error           0 non-null      float64
 19  algo_error_absolute  0 non-null      float64
 20  algo_error_squared   0 non-null      float64
 21  dwh_create_date      32317 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(13)
memory usage: 5.4+ MB

In [84]:
#label encoding

In [85]:
df_actuals_info = df_actuals_qty
print(df_actuals_info)

            dates loc_id  prd_id  actuals_qty  prd_price currency_id  \
0      2023-01-07  10001  BNFJY5        864.0        2.5           1
1      2023-01-07  10001  CVINS1        648.0        8.5           1
2      2023-01-07  10001  CVINS2       1512.0        6.5           1
3      2023-01-07  10001  ERKYE7        270.0        2.9           1
4      2023-01-07  10001  LKUQW1        180.0       10.0           1
...           ...    ...     ...          ...        ...         ...
32312  2025-08-30  10011  WSDCV3        142.0        6.5           1
32313  2025-08-30  10011  ZDSGJ1        126.0       18.0           1
32314  2025-08-30  10011  ZDSGJ2        112.0       12.5           1
32315  2025-08-30  10011  ZDSGJ3        180.0        5.5           1
32316  2025-08-30  10011  ZDSGJ4        154.0        6.0           1

       actuals_sales  sales_forecast currency_desc  \
0             2592.0             NaN          Euro
1             5832.0             NaN          Euro
2            10584.0             NaN          Euro
3              810.0             NaN          Euro
4             1800.0             NaN          Euro
...              ...             ...           ...
32312          994.0             NaN          Euro
32313         2268.0             NaN          Euro
32314         1456.0             NaN          Euro
32315         1080.0             NaN          Euro
32316          924.0             NaN          Euro

                                     location_details  ...     prd_size  \
0      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...        50 cl
1      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...      1 glass
2      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...      1 glass
3      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...        50 cl
4      11 Rue du Moulin de la Tour, 62560 Dennebr�ucq  ...       1 bowl
...                                               ...  ...          ...
32312       Chem. de la Diligence, 13760 Saint-Cannat  ...       1 bowl
32313       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -9 pc
32314       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -9 pc
32315       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -3 pc
32316       Chem. de la Diligence, 13760 Saint-Cannat  ...  1 box -3 pc

         prd_sku  prd_family prd_seasons holidays algorithm_forecast  \
0      SKU 90316   Beverages    All Year        1               None
1      SKU 90334  Milkshakes    All Year        1               None
2      SKU 90335  Milkshakes    All Year        1               None
3      SKU 90318   Beverages    All Year        1               None
4      SKU 90322    Desserts    All Year        1               None
...          ...         ...         ...      ...                ...
32312  SKU 90321    Desserts      Summer        0               None
32313  SKU 90324    Desserts    All Year        0               None
32314  SKU 90325    Desserts    All Year        0               None
32315  SKU 90326    Desserts    All Year        0               None
32316  SKU 90327    Desserts    All Year        0               None

       algo_error algo_error_absolute  algo_error_squared  \
0             NaN                 NaN                 NaN
1             NaN                 NaN                 NaN
2             NaN                 NaN                 NaN
3             NaN                 NaN                 NaN
4             NaN                 NaN                 NaN
...           ...                 ...                 ...
32312         NaN                 NaN                 NaN
32313         NaN                 NaN                 NaN
32314         NaN                 NaN                 NaN
32315         NaN                 NaN                 NaN
32316         NaN                 NaN                 NaN

              dwh_create_date
0     2025-09-24 18:13:31.970
1     2025-09-24 18:13:31.970
2     2025-09-24 18:13:31.970
3     2025-09-24 18:13:31.970
4     2025-09-24 18:13:31.970
...                       ...
32312 2025-09-24 18:13:31.970
32313 2025-09-24 18:13:31.970
32314 2025-09-24 18:13:31.970
32315 2025-09-24 18:13:31.970
32316 2025-09-24 18:13:31.970

[32317 rows x 22 columns]

In [86]:
from sklearn.preprocessing import LabelEncoder
print(" Le Label Encoder est chargé")

 Le Label Encoder est chargé

In [87]:
df_actuals_info['prd_seasons'].unique()

array(['All Year', 'Winter', 'Summer'], dtype=object)

In [88]:
df_actuals_info['prd_seasons_grp']= LabelEncoder().fit_transform(df_actuals_info['prd_seasons'])

In [89]:
df_actuals_info['prd_seasons_grp'].value_counts()

prd_seasons_grp
0    27522
1     2640
2     2155
Name: count, dtype: int64

In [90]:
df_actuals_info.head()

,dates,loc_id,prd_id,actuals_qty,prd_price,currency_id,actuals_sales,sales_forecast,currency_desc,location_details,...,prd_sku,prd_family,prd_seasons,holidays,algorithm_forecast,algo_error,algo_error_absolute,algo_error_squared,dwh_create_date,prd_seasons_grp
0,2023-01-07,10001,BNFJY5,864.0,2.5,1,2592.0,NaN,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,SKU 90316,Beverages,All Year,1,None,NaN,NaN,NaN,2025-09-24 18:13:31.970,0
1,2023-01-07,10001,CVINS1,648.0,8.5,1,5832.0,NaN,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,SKU 90334,Milkshakes,All Year,1,None,NaN,NaN,NaN,2025-09-24 18:13:31.970,0
2,2023-01-07,10001,CVINS2,1512.0,6.5,1,10584.0,NaN,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,SKU 90335,Milkshakes,All Year,1,None,NaN,NaN,NaN,2025-09-24 18:13:31.970,0
3,2023-01-07,10001,ERKYE7,270.0,2.9,1,810.0,NaN,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,SKU 90318,Beverages,All Year,1,None,NaN,NaN,NaN,2025-09-24 18:13:31.970,0
4,2023-01-07,10001,LKUQW1,180.0,10.0,1,1800.0,NaN,Euro,"11 Rue du Moulin de la Tour, 62560 Dennebr�ucq",...,SKU 90322,Desserts,All Year,1,None,NaN,NaN,NaN,2025-09-24 18:13:31.970,0

In [ ]:
# les valeurs NULL

In [93]:
df_actuals_info[['dates','loc_id','prd_id', 'currency_desc']].isnull().sum()

dates            0
loc_id           0
prd_id           0
currency_desc    0
dtype: int64